@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.App{
  max-width: 850px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba( 0, 0, 0, 0.1);
}
h1{
  color : #333;
  text-align: center;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color : #fff;
  background-color: #007bff;
}

button:hover{
  background-color: #0056b3;
}
li button{
  background-color: #dc3545;
}
li button:hover{
  background-color: #c82333;
}
li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 95%;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba( 0, 0, 0, 0.1);
}
.Task_Name > input {
  padding: 12px;
}
.Task_Name{
  display: flex;
  width: 60%;
  flex-direction: column;
}
.parent{
  display: flex;
  height: auto;
  align-items: center;
}
